:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-gray: #a4a4a4;
  --color-light-gray: #f1f4f8;
  --color-green: #b5ed3d;

  --border-radius: 100px;

  --font-family-base: "Manrope", sans-serif;
  --font-family-second: "Inter", sans-serif;

  --tag-height: 60px;

  --transition-duration: 0.2s;
}
