@use "../abstracts/" as abstracts;

.header {
  position: absolute;
  top: 40px;

  left: 0;
  right: 0;
  width: 100%;
  max-width: 1723px;
  margin-inline: auto;
  padding-inline: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
  color: var(--color-light);

  &__menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: var(--color-green);
    color: var(--color-dark);
    z-index: 5;
    transition-duration: 0.4s;

    &-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 24px;
    }

    &-link {
      @include abstracts.fluid-text(36, 14);

      text-transform: uppercase;

      @include abstracts.hover {
        color: var(--color-light);
      }
    }

    &:not(.is-active) {
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 48px;

    @include abstracts.mobile {
      column-gap: 24px;
    }

    @include abstracts.mobile-s {
      display: contents;
    }
  }

  &__button {
    @include abstracts.fluid-text(20, 14);

    padding-inline: 48px;
    background-color: transparent;
    color: var(--color-light);
    border: 2px solid var(--color-light);
    font-weight: 600;

    @include abstracts.hover {
      background-color: var(--color-green);
      border-color: var(--color-green);
      color: var(--color-dark);
    }
  }
}
