@charset "UTF-8";
:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-gray: #a4a4a4;
  --color-light-gray: #f1f4f8;
  --color-green: #b5ed3d;
  --border-radius: 100px;
  --font-family-base: "Manrope", sans-serif;
  --font-family-second: "Inter", sans-serif;
  --tag-height: 60px;
  --transition-duration: 0.2s;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 768px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width <= 480px) {
  .hidden-mobile-s {
    display: none !important;
  }
}

@media (width > 480px) {
  .visible-mobile-s {
    display: none !important;
  }
}

:focus-visible {
  outline: 2px dashed var(--color-dark);
  outline-offset: 4px;
  transition-duration: 0ms !important;
}

.is-lock {
  overflow: hidden;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
}
@supports (scrollbar-gutter: stable) {
  html {
    scrollbar-gutter: stable;
  }
}
html {
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: clamp(14px, 1.3888888889vw, 20px);
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: var(--color-light);
  color: var(--color-gray);
  font-family: var(--font-family-base);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: clamp(40px, 8.3333333333vw, 120px);
  font-weight: 700;
  letter-spacing: -2%;
}

h3 {
  font-size: clamp(28px, 3.8888888889vw, 56px);
  font-weight: 700;
  line-height: 0.97;
}

.header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1723px;
  margin-inline: auto;
  padding-inline: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
  color: var(--color-light);
}
.header__menu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: var(--color-green);
  color: var(--color-dark);
  z-index: 5;
  transition-duration: 0.4s;
}
.header__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 24px;
}
.header__menu-link {
  font-size: clamp(14px, 2.5vw, 36px);
  text-transform: uppercase;
}
@media (hover: hover) {
  .header__menu-link:hover {
    color: var(--color-light);
  }
}
@media (hover: none) {
  .header__menu-link:active {
    color: var(--color-light);
  }
}
.header__menu:not(.is-active) {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}
.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 48px;
}
@media (width <= 768px) {
  .header__actions {
    column-gap: 24px;
  }
}
@media (width <= 480px) {
  .header__actions {
    display: contents;
  }
}
.header__button {
  font-size: clamp(14px, 1.3888888889vw, 20px);
  padding-inline: 48px;
  background-color: transparent;
  color: var(--color-light);
  border: 2px solid var(--color-light);
  font-weight: 600;
}
@media (hover: hover) {
  .header__button:hover {
    background-color: var(--color-green);
    border-color: var(--color-green);
    color: var(--color-dark);
  }
}
@media (hover: none) {
  .header__button:active {
    background-color: var(--color-green);
    border-color: var(--color-green);
    color: var(--color-dark);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--tag-height);
  border-radius: var(--border-radius);
}

.burger-button {
  width: 44px;
  height: 44px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  padding-block: 15px;
  background-color: transparent;
  border: none;
  transition-duration: var(--transition-duration);
  z-index: 10;
}
.burger-button__line {
  width: 100%;
  height: 2px;
  background-color: var(--color-light);
}
.burger-button.is-active .burger-button__line {
  background-color: var(--color-dark);
}
.burger-button.is-active .burger-button__line:first-child {
  transform: translateY(200%) rotate(45deg);
}
.burger-button.is-active .burger-button__line:last-child {
  transform: translateY(-350%) rotate(-45deg);
}
@media (hover: hover) {
  .burger-button:hover {
    scale: 1.1;
  }
}
@media (hover: none) {
  .burger-button:active {
    scale: 1.1;
  }
}

.contact-modal {
  width: min(90vw, 600px);
  max-height: 90vh;
  background-color: transparent;
  border: none;
  z-index: 100;
}
.contact-modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 12px;
  background-color: var(--color-light);
  padding: 48px 24px 24px;
  border: 4px solid var(--color-green);
  border-radius: 24px;
}
.contact-modal__close {
  width: 44px;
  height: 44px;
  aspect-ratio: 1;
  font-size: clamp(20px, 2.2222222222vw, 32px);
  position: absolute;
  top: 24px;
  right: 24px;
  background: transparent;
  border: none;
  font-weight: 600;
  color: var(--color-dark);
}
@media (hover: hover) {
  .contact-modal__close:hover {
    color: var(--color-green);
  }
}
@media (hover: none) {
  .contact-modal__close:active {
    color: var(--color-green);
  }
}
.contact-modal__form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
}
.contact-modal__field {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.contact-modal__label {
  font-size: 14px;
  color: var(--color-gray);
}
.contact-modal__input, .contact-modal__textarea {
  background-color: var(--color-light-gray);
  border: 1px solid var(--color-light-gray);
  border-radius: 8px;
  padding: 8px;
}
.contact-modal__input:focus, .contact-modal__textarea:focus {
  color: var(--color-dark);
  border-color: var(--color-green);
  background-color: var(--color-light);
}
.contact-modal__button {
  background-color: var(--color-green);
  border: 1px solid var(--color-green);
  color: var(--color-light);
  height: 40px;
}
@media (hover: hover) {
  .contact-modal__button:hover {
    background-color: transparent;
    color: var(--color-dark);
    border-color: var(--color-dark);
  }
}
@media (hover: none) {
  .contact-modal__button:active {
    background-color: transparent;
    color: var(--color-dark);
    border-color: var(--color-dark);
  }
}
.contact-modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
  filter: blur(4px);
}

.hero {
  width: 100%;
  margin-bottom: 118px;
  background: url("../../assets/images/hero/hero_bg.png") top/contain no-repeat;
}
@media (width <= 768px) {
  .hero {
    background-size: 100% 50%;
    margin-bottom: 60px;
  }
}
@media (width <= 480px) {
  .hero {
    background-size: 100% 45%;
  }
}
.hero__main {
  max-width: 1723px;
  margin-inline: auto;
  padding: 244px 40px 0;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  color: var(--color-light);
}
@media (width <= 1024px) {
  .hero__main {
    padding: 160px 40px 40px;
    gap: 24px;
  }
}
@media (width <= 768px) {
  .hero__main {
    grid-template-columns: 1fr;
    padding-top: 120px;
  }
}
.hero__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}
.hero__title span:not(:first-child) {
  margin-top: -5%;
}
.hero__title span:nth-child(2) {
  padding-left: 10%;
}
@media (width <= 1024px) {
  .hero__title {
    margin-bottom: 0;
  }
}
.hero__description {
  max-width: 245px;
}
.hero__description p {
  padding: 0;
  margin-bottom: 30px;
}
@media (width <= 480px) {
  .hero__description p {
    margin-bottom: 16px;
  }
}
.hero__visual {
  position: relative;
  margin-bottom: 120px;
}
@media (width <= 1024px) {
  .hero__visual {
    margin-bottom: 80px;
  }
}
@media (width <= 480px) {
  .hero__visual {
    margin-bottom: 40px;
  }
}
.hero__image {
  max-width: 85%;
  height: auto;
  margin-inline: auto;
}
.hero__pointer {
  width: 120px;
  height: 120px;
  aspect-ratio: 1;
  position: absolute;
  top: -60px;
  left: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green);
  border: 6px solid var(--color-light);
  border-radius: var(--border-radius);
}
@media (width <= 1024px) {
  .hero__pointer {
    width: 80px;
    height: 80px;
    aspect-ratio: 1;
    top: -40px;
  }
}
@media (width <= 768px) {
  .hero__pointer {
    width: 60px;
    height: 60px;
    aspect-ratio: 1;
    top: -30px;
  }
}
.hero__about {
  max-width: 1660px;
  padding-inline: 40px;
  margin-inline: auto;
  color: var(--color-dark);
  letter-spacing: 1%;
}
.hero__about-greeting {
  font-size: clamp(16px, 2.0833333333vw, 30px);
  font-weight: 600;
  line-height: 2.4;
  margin-bottom: 24px;
}
.hero__about-description {
  font-size: clamp(24px, 3.8888888889vw, 56px);
}

.service {
  width: 100%;
  margin-inline: auto;
  padding: 240px 40px 200px;
  background-color: var(--color-dark);
  color: var(--color-light);
}
@media (width <= 1440px) {
  .service {
    padding-block: 100px;
  }
}
@media (width <= 768px) {
  .service {
    padding-block: 40px;
  }
}
.service__inner {
  max-width: 1640px;
  margin-inline: auto;
}
.service__title {
  font-size: clamp(24px, 2.0833333333vw, 30px);
  font-weight: 700;
  margin-bottom: 77px;
}
@media (width <= 1024px) {
  .service__title {
    margin-bottom: 40px;
  }
}
.service__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: start;
  gap: 30px 22px;
}
@media (width <= 768px) {
  .service__list {
    row-gap: 16px;
  }
}
.service__item {
  font-size: clamp(24px, 3.8888888889vw, 56px);
  padding: 20px 50px;
  border: 1px solid var(--color-light);
  border-radius: var(--border-radius);
  font-weight: 600;
}
@media (width <= 1440px) {
  .service__item {
    padding: 20px;
  }
}

.features {
  width: 100%;
  max-width: 1721px;
  padding: 200px 40px;
  margin-inline: auto;
}
@media (width <= 1024px) {
  .features {
    padding-block: 100px;
  }
}
@media (width <= 768px) {
  .features {
    padding-block: 40px;
  }
}
.features__header {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 100px;
  letter-spacing: 1%;
}
@media (width <= 768px) {
  .features__header {
    margin-bottom: 80px;
  }
}
.features__title {
  font-size: clamp(32px, 3.75vw, 54px);
  color: var(--color-dark);
  line-height: 1.4;
  font-weight: 700;
}
.features__description {
  font-size: clamp(18px, 1.5277777778vw, 22px);
  max-width: 553px;
  letter-spacing: 1.45;
}
.features__body {
  margin-bottom: 238px;
}
@media (width <= 1024px) {
  .features__body {
    margin-bottom: 80px;
  }
}
.features__list {
  display: flex;
  flex-direction: column;
  row-gap: 79px;
}
.features__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
}
.features__item:nth-child(2n) {
  flex-direction: row-reverse;
}
@media (width <= 1024px) {
  .features__item:nth-child(2n) {
    flex-direction: column;
  }
}
@media (width <= 1024px) {
  .features__item {
    flex-direction: column;
    gap: 60px;
  }
}
.features__visual {
  position: relative;
}
.features__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.features__link {
  width: 118px;
  height: 118px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -59px;
  background-color: var(--color-dark);
  border-radius: var(--border-radius);
  border: 8px solid var(--color-light);
}
@media (hover: hover) {
  .features__link:hover img {
    transform: rotate(-45deg);
  }
}
@media (hover: none) {
  .features__link:active img {
    transform: rotate(-45deg);
  }
}
@media (width <= 1024px) {
  .features__link {
    width: 80px;
    height: 80px;
    aspect-ratio: 1;
    bottom: -40px;
  }
}
.features__info {
  letter-spacing: -2.5%;
}
.features__info-title {
  color: var(--color-dark);
  margin-bottom: 35px;
}
@media (width <= 1024px) {
  .features__info-title {
    margin-bottom: 16px;
  }
}
.features__info-description {
  line-height: 1.6;
  margin-bottom: 92px;
}
@media (width <= 1024px) {
  .features__info-description {
    margin-bottom: 40px;
  }
}
.features__extra {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  color: var(--color-dark);
  align-items: start;
  column-gap: 80px;
}
@media (width <= 1440px) {
  .features__extra {
    column-gap: 40px;
  }
}
@media (width <= 1024px) {
  .features__extra {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}
.features__extra-link {
  font-size: clamp(18px, 2.0833333333vw, 30px);
  width: 240px;
  height: 240px;
  aspect-ratio: 1;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  background-color: var(--color-green);
  border-radius: 100%;
  letter-spacing: -4%;
}
@media (hover: hover) {
  .features__extra-link:hover {
    scale: 1.1;
  }
}
@media (hover: none) {
  .features__extra-link:active {
    scale: 1.1;
  }
}
@media (width <= 1440px) {
  .features__extra-link {
    width: 160px;
    height: 160px;
    aspect-ratio: 1;
  }
}
.features__extra-text {
  font-size: clamp(30px, 6.9444444444vw, 100px);
  font-weight: 600;
  line-height: 0.9;
}
.features__extra-line {
  display: grid;
  align-items: end;
  gap: 24px;
}
.features__extra-line span {
  width: 100%;
  height: 1px;
  background-color: var(--color-dark);
}
@media (width <= 1440px) {
  .features__extra-line {
    gap: 12px;
  }
}
.features__extra-left .features__extra-line {
  grid-template-columns: auto minmax(40px, 1fr);
}
.features__extra-right {
  padding-top: 120px;
  text-align: right;
  align-self: end;
}
@media (width <= 1024px) {
  .features__extra-right {
    padding-top: 0;
  }
}
.features__extra-right .features__extra-line {
  grid-template-columns: minmax(40px, 1fr) auto;
}

.tags__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
}
.tags__item {
  font-size: clamp(14px, 1.25vw, 18px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--tag-height);
  color: var(--color-dark);
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
}/*# sourceMappingURL=styles.css.map */