@use "../abstracts/mixins" as mixins;

html,
body {
  width: 100%;
}

body {
  @include mixins.fluid-text(20, 14);

  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: var(--color-light);
  color: var(--color-gray);
  font-family: var(--font-family-base);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  min-width: 0;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  @include mixins.fluid-text(120, 40);

  font-weight: 700;
  letter-spacing: -2%;
}

h3 {
  @include mixins.fluid-text(56, 28);

  font-weight: 700;
  line-height: 0.97;
}
